<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globalCss_.css')}}">
</head>

<body>    
    <div class="container">
        <section>
            <div class="container">
                <div class="loginBox">
                    <div class="content">
                                {% block form %}
                                    <form action="/admin/login" method="POST" style="height: 350px;">
                                {% endblock %}
                                        {% block h3Desc %}
                                            <h3>Admin Login Panel</h3>
                                        {% endblock %}
                                        {% block getinput %}
                                            <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="Username" maxlength="10">
                                            <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password" maxlength="12">
                                        {% endblock %}
                                        {% block buttonSubmit %}
                                            <button type="submit" class="btn btn-primary btn-xl"> Login </button>
                                        {% endblock %}
                                </form>
                                
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body> 

</html>  