<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDos attack stopped</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container.y{
            height:300px;
            display:flex;
            
        }
        .container.alert{
            display:flex;
            justify-content:center;
            align-items:center;
            margin-top: 200px;
            height:200px;
        }
    </style>
</head>
<body class="bg-dark">
    <div class="container y">
        <div class="alert alert-success container">
           <h1>DDos Attack Successfully Stopped :)</h1>
        </div>
    </div>
</body>
</html>

